.event
  .event-info.row
    .col-md-12
      = content_tag 'div', '', class: 'event-background',      |
        style: "background-image: url(#{event_photo(@event)})" |
      .event-info-inner.row
        .col-md-6
          .event-description
            %h2= @event.title
            %h3= l @event.datetime, format: :long
            %h3
              %small= link_to @event.address,                      |
                  "https://yandex.ru/maps/?text=#{@event.address}" |
            %p= @event.description
            - if current_user_can_edit?(@event)
              .buffer-both
                = link_to 'Изменить', edit_event_path(@event), class: 'btn btn-primary'
                = link_to 'Удалить', event_path(@event), method: :delete,       |
                  data: { confirm: t('are_you_sure') }, class: 'btn btn-danger' |
  .row
    .col-md-8
      .event-photos
        .event-photos-gallery
          = render partial: 'photos/photo', collection: @event.photos.except(@new_photo)
        .event-photo-form
          = render partial: 'photos/form', locals: { photo: @new_photo || @event.photos.build }
      .event-comments.buffer-top
        = render partial: 'comments/form', locals: { comment: @new_comment || @event.comments.build }
        .buffer-both
          = render partial: 'comments/comment', collection: @event.comments.except(@new_comment)
    .col-md-4
      .event-owner
        %h4 Зовёт:
        %p= render partial: 'users/user', object: @event.user
      .event-subscriptions
        %h4 Пойдут:
        %div
          %p
            = render partial: 'subscriptions/subscription', collection: @event.subscriptions.except(@new_subscription)
      - unless current_user == @event.user
        .event-subscription-form
          %h4 Я пойду:
          %div
          - unless current_user
            = render partial: 'subscriptions/form', locals: { subscription: @new_subscription || @event.subscriptions.build }
          - else
            - if current_user.subscriptions.pluck(:event_id).include?(@event.id)
              - subscription = current_user.subscriptions.find_by(event_id: @event.id)
              = link_to 'Отписаться', event_subscription_path(subscription.event, subscription), |
                  method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-danger' |
            - else
              = render partial: 'subscriptions/form', locals: { subscription: @new_subscription || @event.subscriptions.build }
