!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "b-b-q"
    = csrf_meta_tags
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css', 'application', media: 'all'
    = javascript_include_tag 'https://api-maps.yandex.ru/2.1/?lang=ru_RU'
    = javascript_include_tag "application"
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js.map'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js.map'
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to t('app.name'), root_path, class: 'navbar-brand'
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li= link_to 'Профиль', current_user
              %li= link_to 'Выйти', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Войти', new_user_session_path
              %li= link_to 'Зарегистрироваться', new_user_registration_path
    .container
      .row
        .col-lg-9
          - flash.each do |type, msg|
            - type = 'success' if type == 'notice'
            - type = 'danger' if type == 'alert'
            %div(class="alert alert-#{type} fadeout" data-dismiss="alert")
              %a.close &times;
              = msg
          = yield
      %footer.buffer-top
        &copy;
        =link_to t('app.author.nick'), t('app.author.cv')
        2019
